html {
  overflow-y: scroll;
}

.brand {
  padding: 5px 5px 0 5px !important;
}
footer {
  background-color: #FaFaFa;
  position: absolute;
  bottom: 10px; /* negative value of footer height */
  height: 10px;
  width: 100%;
}
.footer p {
  text-align: center;
}

.contacts {
  background-color: #ffffff;
}
.username {
  font-weight: bold;
}

.messages {
  background-color: #ffffff;
}

footer {
  display: block;
  text-align: center;
  margin: 0 auto 0 auto;
}


form {
  padding: 16px 0 1px 0;
}

.modal-header {
  text-align: center;
}


.loading {
  width: 200px;
  margin: 10% auto auto auto;
}

